@import "bourbon";

$dark-grey: #231f20;
$med-grey: #57585a;
$light-grey: #d8d8d8;
$orange: #f16736;

$roboto: 'Roboto Slab', serif;
$roboto-reg: 'Roboto', serif;
$noto: 'Noto Serif', serif;

$grid-sm: 35.5em;
$grid-md: 48em;
$grid-lg: 64em;
$grid-xl: 80em;

$header-sm: 67px;
$header-md: 95px;
$header-md-expanded: 115px;

html,body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background: #fff;
  font-family:  $noto;
  color: $dark-grey;
}

/*
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: $noto;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  font-family: $roboto;
  color: $dark-grey;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
